section{
    margin:0 10% 0 10%;
}

.blog{
    &__image{
        display:flex;
        justify-content: center;
        }
    &__title{
        @include h;
    }
    &__list{
        color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
}